{# Template of deleting post #}
{% extends "JDJolydaysBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block jolydaysbundle_body %}

  <h4>Post number {{ post_id }} deleted</h4>


{% endblock %}