{# Template of deleting post #}
{% extends "JDJolydaysBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block jolydaysbundle_body %}

  <h4>Confirm deletion ?</h4>

  <form action="{{ path('jd_jolydays_delete', {'post_id': post_id}) }}" method="post">
    <a href="{{ path('jd_jolydays_view', {'post_id': post_id}) }}" class="btn">
      Back to post
    </a>
    <input type="submit" value="Delete" class="btn btn-danger" />
  </form>

{% endblock %}