{# Hompage template - list of all posts #}
{% extends "JDJolydaysBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block jolydaysbundle_body %}

  {% block page_title %}
    <h2>All posts</h2>
  {% endblock %}

  <ul>
    {% for post in posts %}
      <li>
        <a href="{{ path('jd_jolydays_view', {'post_id': post.id}) }}">
          {{ post.title }}
        </a>
      </li>
    {% else %}
      <li>0 post</li>
    {% endfor %}
  </ul>

{% endblock %}